<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
                </li>

        <li<%= sidebar_current("docs-appoptics-index") %>>
        <a href="/docs/providers/appoptics/index.html">Librato Provider</a>
                </li>

        <li<%= sidebar_current("docs-appoptics-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-appoptics-resource-alert") %>>
          <a href="/docs/providers/appoptics/r/alert.html">appoptics_alert</a>
                    </li>
                    <li<%= sidebar_current("docs-appoptics-resource-metric") %>>
          <a href="/docs/providers/appoptics/r/metric.html">appoptics_metric</a>
                    </li>
                    <li<%= sidebar_current("docs-appoptics-resource-service") %>>
          <a href="/docs/providers/appoptics/r/service.html">appoptics_service</a>
                    </li>
                    <li<%= sidebar_current("docs-appoptics-resource-space") %>>
          <a href="/docs/providers/appoptics/r/space.html">appoptics_space</a>
                    </li>
                    <li<%= sidebar_current("docs-appoptics-resource-space-chart") %>>
          <a href="/docs/providers/appoptics/r/space_chart.html">appoptics_space_chart</a>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
